$border-radius: 0.375rem;
$border-radius-sm: 0.25rem;
$border-radius-lg: 0.5rem;

@media (max-width: 991.98px) {
    .alert,
    .btn,
    .card,
    .dropdown-menu,
    .form-control,
    .input-group,
    .modal-content {
        border-radius: 0 !important;
    }
}
